odoo-test-helper >= 1.1.0

algoliasearch>=2.0,<3.0
unidecode

# tests
vcrpy-unittest

odoo-addon-connector-search-engine @ git+https://github.com/oca/search-engine.git@refs/pull/134/head#subdirectory=setup/connector_search_engine
